
<div class="document-box" id="DocumentBox">


    <div id="view" class="view" >
        <div class="document-file-list" id="imgList" class="list" style="display: none" tabindex="1">
        </div>
        <div class="canvas-wrap">
            <div class="canvas-box">
               <a href="#" class="stop-document"><i class="material-icons">clear</i></a>
               <div class="document-canvas">
                    <canvas id="whiteboard">화이트보드영역</canvas>
               </div>
               <div class="picture">
                   <canvas id="imgboard">이미지영역</canvas>
               </div>
            </div>
        </div>
    </div>
</div>
