<div class="header">
    <div class="logo"> Knowledge<span>Talk</span></div>
    <div class="room-info">
        <ul>
            <li id="RoomInfo" style="display: none;">
                    <span>Join Code. </span>
                <span><a href="" class="button" id="TopRoomInfo"></a></span>
            </li>
        </ul>
    </div>
    <ul class="mainmenu" id="Mainmenu">
        <li><a href="" class="waves-effect" data-value="video"><i class="material-icons" style="color: #CCC;"">laptop_mac</i><span>Video</span></a></li>
        <li><a href="" class="waves-effect" data-value="document"><i class="material-icons" style="color: #CCC;"">border_color</i><span>Document</span></a></li>
        <li><a href="" class="waves-effect" data-value="screenSharing"><i class="material-icons" style="color: #CCC;"">screen_share</i><span>Screen Sharing</span></a></li>
        <li><a href="" class="waves-effect" data-value="invite"><i class="material-icons" style="color: #CCC;"">person_add</i><span>Invite</span></a></li>
        <li><a href="" class="waves-effect" data-value="join"><i class="material-icons" style="color: #CCC;"">open_in_browser</i><span>Join</span></a></li>
        <li><a href="" class="waves-effect" data-value="setup"><i class="material-icons" style="color: #CCC;"">settings</i><span>Setup</span></a></li>
        <li><a href="" class="waves-effect" data-value="exit"><i class="material-icons" style="color: #CCC;"">exit_to_app</i><span>Exit</span></a></li>
    </ul>
    <div class="chaticon">
        <a href="" id="ChatBtn">
            <i class="material-icons" id="ChatIcon">sms</i>
            <span class="badge-count" id="ChatCount" style="display: none">0</span>
        </a>
    </div>
    <div class="member-login">
        <ul>
            <li id="Recording" style="display: none;">
                <span class="member-icon">
                    <i class="material-icons">
                        fiber_manual_record
                    </i>
                </span>
                <span class="button">Rec.</span>
            </li>
            <li id="RecordInfo" style="display: none;">
                <span class="member-icon">
                    <i class="material-icons">
                        fiber_manual_record
                    </i>
                </span>
                <span class="button">Rec.</span>
            </li>
            <li id="LoginInfo">
                <span class="member-icon"><i class="material-icons">person</i></span>
                <span id="TopLoginInfo">로그인을 해주세요. </span>
                <a href="" class="button" id="LoginOpen">로그인</a>
                <a href="" class="butoon" style="display:none" id="logout">로그아웃</a>
            </li>
        </ul>
    </div>
</div>

<script>

</script>
