<div class="sidebar" id="Sidebar">
    <div class="login-box">
        <div class="category-title">
            <div class="title">
                Member Information
            </div>
            <div class="category-exp">Where to manage your membership information</div>
        </div>
        <div class="login-bg">
            <dl>
                <dt><i class="material-icons">person</i></dt>
                <dd style="display: none">
                    <div><b id="SidebarUserId">ooooo</b> 님</div>
                    <div>안녕하세요. </div>
                </dd>
                <dd>
                    <div>로그인을</div>
                    <div>해주세요.</div>
                </dd>
            </dl>
        </div>
        <ul>
            <li><a id="FriendListBtn" style="display: none"><i class="material-icons">supervisor_account</i> 친구목록</a></li>
            <!-- <li><a id="InviteListBtn" style="display: none"><i class="material-icons">mail</i> 초대메세지</a></li> -->
            <li><a id="MeetingListBtn" style="display: none"><i class="material-icons">dvr</i> 지난회의</a></li>
            <li><a id="InfoEditBtn" style="display: none"><i class="material-icons">lock</i> 정보수정</a></li>
        </ul>
        <div class="letSidebar-btn">
            <button class="waves-effect waves-light btn blue" id="LeftSidebarClose">Close</button>
        </div>
        <a href="" id="SidebarBtn" class="sidebar-btn">
           <span class="open">
              <i class="material-icons">keyboard_arrow_right</i>
           </span>
           <span class="close" style="display:none">
              <i class="material-icons">keyboard_arrow_left</i>
           </span>
        </a>
    </div>
</div>
<div class="sidebar-dim" id="SidebarDim" style="display: none"></div>
