<div class="message-popup" id="MessagePopup">
    <div class="message-dim" id="MessageDim"></div>
    <div class="message-box" id = "MessageBox">
        <div class="message-title"><i class="material-icons">error</i> <span id="MessageTitle">Message-box</span></div>
        <div class="message-content" id="MessageContent">test</div>
        <div class="message-btn">
            <button class="waves-effect waves-light btn blue" id="MessageBoxOk">OK</button>
            <!-- <button class="waves-effect waves-light btn grey" id="MessageBoxCancel">Cancel</button> -->
        </div>
    </div>
</div>