<div class="loader" style="display: none">
    <div class="fadingCircle">
        <div class="fadingCircle-child1 fadingCircle-child"></div>
        <div class="fadingCircle-child2 fadingCircle-child"></div>
        <div class="fadingCircle-child3 fadingCircle-child"></div>
        <div class="fadingCircle-child4 fadingCircle-child"></div>
        <div class="fadingCircle-child5 fadingCircle-child"></div>
        <div class="fadingCircle-child6 fadingCircle-child"></div>
        <div class="fadingCircle-child7 fadingCircle-child"></div>
        <div class="fadingCircle-child8 fadingCircle-child"></div>
        <div class="fadingCircle-child9 fadingCircle-child"></div>
        <div class="fadingCircle-child10 fadingCircle-child"></div>
        <div class="fadingCircle-child11 fadingCircle-child"></div>
        <div class="fadingCircle-child12 fadingCircle-child"></div>
    </div>
</div>
<div class="toastMsg" id="chatToast">채팅 기능은 회의 중에만 사용할 수 있습니다.</div>
<div class="toastMsg" id="copyToast">참여 코드가 클립보드로 복사되었습니다.</div>
<div class="toastMsg" id="recordToast">방장이 녹화 중입니다.</div>
<div class="toastMsg" id="recEndToast">방장이 녹화를 중단했습니다.</div>
<div class="toastMsg" id="chatNullToast">채팅 내역이 없습니다.</div>
<div class="toastMsg" id="chatCopyToast">채팅 내역이 복사되었습니다.</div>
<div class="progressBox" id="pdfUploader" style="display: none">
    <div class="progress">
        <div class="bar">0</div>
    </div>
</div>
<div class="progressBox" id="TOTimer" style="display: none">
    <div class="progress">
        <div class="bar"></div>
        <p class="stateText"></p>
    </div>
</div>
<div id="printbox"></div>