<div class="rightsidebar" id="RightSidebar">
    <div class="chat-box">
        <div class="chat-content-box">
            <div class="chat-content-list" id="ChatContentList">
                <ul class="chat-content" id="ChatContent">
                    
                </ul>
            </div>
            <div class="chat-input">
                <div class="chat-left" id="ChatLeft"><textarea rows="1" name="chatInput" id="ChatInput"></textarea></div>
                <div class="chat-right"><button class="waves-effect waves-light btn blue" id="ChatInsertBtn"><i class="material-icons">send</i></button></div>
            </div>
        </div>
    </div>
    <div class="attendant-box">
    </div>
</div>