<!-- <div class="document-icon-box" style = "display : none">
        <ul> -->
<div class="document-icon-box" id="Aside-Editor" style="display : none">
    <div class="toolbar">
        <ul class="icon">
            <li><i href="#" id="tooltype_color" class="material-icons" style="display : none"></i></li>
            <li>

                <form style="display: none" action='/upload' method='post' enctype='multipart/form-data' id="dataform"
                    name="dataform">
                    <input type='file' id='file-input' name="uploadFile"
                        accept=".jpg, .jpeg, .png, .bmp, .rle, .dib, .gif, .tif, .tiff, .pdf">
                </form>
                <a class="material-icons tooltipped" data-tooltip="문서공유" data-position="right" href="#"
                    id="file-share-btn">folder_open</a>
            </li>

            <li><a class="material-icons tooltipped on" data-tooltip="펜" data-position="right" href="#"
                    id="tooltype_pen">create</a></li>
            <li><a class="material-icons tooltipped eraser" data-tooltip="지우개" data-position="right" href="#"
                    id="tooltype_eraser">crop_portrait</a></li>
            <li><a class="material-icons tooltipped" data-tooltip="전체지우기" data-position="right" href="#"
                    id="clear">delete</a></li>
        </ul>
        <ul class="color" id="penscolorTool">
            <li><a class="material-icons" href="#" id="color_black">fiber_manual_record</a></li>
            <li><a class="material-icons" href="#" id="color_red">fiber_manual_record</a></li>
            <li><a class="material-icons" href="#" id="color_blue">fiber_manual_record</a></li>
            <li><a class="material-icons" href="#" id="color_green">fiber_manual_record</a></li>
            <li><a class="material-icons" href="#" id="color_yellow">fiber_manual_record</a></li>
        </ul>
        <ul class="size" id="pensizeTool">
            <li><a class="material-icons on" href="#" id="pen_small">fiber_manual_record</a></li>
            <li><a class="material-icons" href="#" id="pen_medium">fiber_manual_record</a></li>
            <li><a class="material-icons" href="#" id="pen_large">fiber_manual_record</a></li>
        </ul>
    </div>
</div>

<!-- </ul>
    </div> -->