
<div class="screen-video-wrap"  id="ScreenSharingVideo">
    <div class="screen-video">
        <a href="" class="stop-sharing"><i class="material-icons">clear</i></a>
        <div id="canvas-area">
            <canvas id="ScreenWhiteboard" style="width:1250px; height:610px;"></canvas>
        </div>
    </div>
</div>
<div class="video-box" id="VideoBox">
    <dl class="video-onetoone" id="VIDEOONETOONE">
    </dl>
    <dl class="video-twobytwo" id="VIDEOONETOMANY">
    </dl>
</div>

<!-- 
2x2
<div class="video-box" id="VideoBox" style="display:none">
   <dl class="video-twobytwo" id="VIDEOONETOMANY">
      <dd class="multi-video">
         <div class="video-off">
            <i class="material-icons">videocam_off</i>
            <i class="material-icons" style="display:none">mic_off</i>
         </div>
         <a class="video-icon" style="z-index:1" onclick="videoService.offVideo()"><i class="material-icons" id="VideoIcon">videocam</i></a>
         <a class="mic-icon" style="z-index:1" onclick="videoService.offMic()"><i class="material-icons" id="MicIcon">mic</i></a>
         <video autoplay="" id="local" style="display: block;"></video>
      </dd>
   </dl>
</div>

3x3
<div class="video-box" id="VideoBox" style="display:none">
   <dl class="video-threebythree" id="VIDEOONETOMANY">
      <dd class="multi-video">
         <div class="video-off">
            <i class="material-icons">videocam_off</i>
            <i class="material-icons" style="display:none">mic_off</i>
         </div>
         <a class="video-icon" style="z-index:1" onclick="videoService.offVideo()"><i class="material-icons" id="VideoIcon">videocam</i></a>
         <a class="mic-icon" style="z-index:1" onclick="videoService.offMic()"><i class="material-icons" id="MicIcon">mic</i></a>
         <video autoplay="" id="local" style="display: block;"></video>
      </dd>
   </dl>
</div>

4x4
<div class="video-box" id="VideoBox" style="display:none">
   <dl class="video-fourbyfour" id="VIDEOONETOMANY">
      <dd class="multi-video">
         <div class="video-off">
            <i class="material-icons">videocam_off</i>
            <i class="material-icons" style="display:none">mic_off</i>
         </div>
         <a class="video-icon" style="z-index:1" onclick="videoService.offVideo()"><i class="material-icons" id="VideoIcon">videocam</i></a>
         <a class="mic-icon" style="z-index:1" onclick="videoService.offMic()"><i class="material-icons" id="MicIcon">mic</i></a>
         <video autoplay="" id="local" style="display: block;"></video>
      </dd>
   </dl>
</div> -->