<div class="messagebox" id="confirmBox">
    <div class="message-dim" id="ConfirmDim"></div>
    <div class="popup-title"></div>
    <div class="popup-content">
        <p></p><p><span id="Count"></span></p>
    </div>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn blue" id="confirmOk">OK</button>
        <button class="waves-effect waves-light btn grey" id="confirmCancel">Cancel</button>
    </div>
</div>