<div class="modify" id="InfoEdit">
    <div class="popup-title">Information Modify</div>
    <ul class="popup-content">
        <li><i class="material-icons">person</i> <label>User ID</label> </li>
        <li class="popup-input"><input type="text" id="ModifyUserId" readonly></li>
        <li><i class="material-icons">person_outline</i> <label>User Name</label> </li>
        <li class="popup-input"><input type="text" id="ModifyUserName" readonly></li>
        <li><i class="material-icons">lock</i> <label>Current PW</label></li>
        <li class="popup-input"><input type="password" id="ModifyUserPw"></li>
        <!-- <li><i class="material-icons">portrait</i> <label>User Image</label></li> -->
        <li><i class="material-icons">lock</i> <label>Change Pw </label></li>
        <li class="popup-input"><input type="password" id="ModifyUserPwRe"></li>


        <!-- <li class="popup-input1">
            <div class="file-field">
                <div class="btn blue">
                    <span><i class="material-icons">cloud_upload</i></span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text">
                </div>
            </div>
        </li> -->
    </ul>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn blue" id="ModifyConfirmBtn">OK</button>
        <button class="waves-effect waves-light btn grey close" id="InfoEditClose">Cancel</button>
    </div>
</div>