<div class="invitelist" id="InviteList">
    <div class="popup-title">IniviteList</div>
    <div class="popup-content-table">
        <table>
            <colgroup>
                <col width="90px" />
                <col width="90px" />
                <col width="120px" />
                <col />
                <col width="220px" />
                
            </colgroup>
            <tr>
                <th scope="col">Select</th>
                <th scope="col">state</th>
                <th scope="col">Maker</th>
                <th scope="col">RoomName</th>
                <th scope="col">Meeting Date</th>
                
            </tr>
        </table>
    </div>
    <div class="popup-content-table-list">
        <table id="InviteListTbl">
            
        </table>
    </div>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn blue" id="InviteJoinBtn">Join</button>
        <button class="waves-effect waves-light btn red" id="InviteDeleteBtn">Delete</button>
        <button class="waves-effect waves-light btn grey close" id="InviteListClose">Cancel</button>
    </div>
</div>