<div class="messagebox" id="inviteMessageBox">
    <div class="message-dim" id="MessageDim"></div>
    <div class="popup-title">Invite Message</div>
    <div class="popup-content">
        <p><span id="Inviter">user1</span>님이 초대하셨습니다.<br>
            수락 하시겠습니까?<br> <span id="InviteCount"></span></p>
    </div>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn blue" id="accept-invite">OK</button>
        <button class="waves-effect waves-light btn grey" id="reject-invite">Cancel</button>
    </div>
</div>
