<div class="invite" id="Invite">
    <div class="popup-title">Meeting Invite</div>
    <div class="popup-content">
        <!-- <div class="left"> -->
        <div class="sub-title"><i class="material-icons">how_to_reg</i> FriendList </div>

        <div class="popup-friendlist">
            <ul id="InviteFriendList"></ul>
        </div>
        <!-- </div> -->
        <!-- <div class="right">
            <div class="sub-title"><i class="material-icons">settings_applications</i> Room Setting </div>
            <ul class="popup-room">
                <li>
                    <b class="category-sub-title">Room Name</b>
                    <input type="text" name="RoomName" id="RoomName" />
                </li>
                <li><b class="category-sub-title">Room Sort</b>
                    <dl id="RoomSort">
                        <dd><div class="switch"><label><input type="checkbox" checked value="onetoone"><span class="lever"></span></label></div> 1:1 Meeting Service</dd>
                        <dd><div class="switch"><label><input type="checkbox" value="manytomany"><span class="lever"></span></label></div> N:N Meeting Service</dd>
                    </dl>
                </li>
                
            </ul>
        </div> -->
        
    </div>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn blue" id="MeetingStartBtn">Meeting Start</button>
        <button class="waves-effect waves-light btn grey close" id="InviteClose">Cancel</button>
    </div>
</div>