<div class="login" id="Login">
    <div class="popup-title">Member Login</div>
    <ul class="popup-content">
        <li><i class="material-icons">person</i> <label>User ID</label> </li>
        <li class="popup-input"><input type="text" id="LoginId"></li>
        <li><i class="material-icons">lock</i> <label>User PW</label></li>
        <li class="popup-input1"><input type="password" id="LoginPw"></li>
    </ul>
    <div class="popup-btn">
        <span class='left'><a id="SignupBtn">회원가입</a><!-- <a id="InfoSearchBtn">정보찾기</a>--></span>
        <button class="waves-effect waves-light btn blue" id="LoginBtn">Login</button>
        <button class="waves-effect waves-light btn grey close" id="LoginClose">Cancel</button>
    </div>
</div>