<div class="meetinglist" id="MeetingList">
    <div class="popup-title">MeetingList</div>
    <div class="popup-content-table">
        <table>
            <colgroup>
                <col width="70px" />
                <col width="150px" />
                <col width="100px" />
                <col width="200px" />
                <col width="100px" />
                <col width="100px" />
            </colgroup>
            <tr>
                <th scope="col">Num</th>
                <th scope="col">Maker</th>
                <th scope="col">Attendants</th>
                <th scope="col">Meeting Date</th>
                <th scope="col">Chat Logs</th>
                <th scope="col">Record</th>
            </tr>
        </table>
    </div>
    <div class="popup-content-table-list">
        <table id="MeetingListTbl">
        
        </table>
    </div>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn grey close" id="MeetingListClose">Cancel</button>
    </div>
</div>