<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./login.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./signup.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./infoedit.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./friend.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./invite.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./join.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./meetingList.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./inviteList.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./setting.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./inviteMessageBox.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./record.ejs %>
    </div>
</div>
<div class="popup">
    <div class="dim"></div>
    <div class="default-box">
        <% include ./confirmBox.ejs %>
    </div>
</div>