<div class="recordVideo" id="RecordVideo">
    <div class="popup-title">Recorded Video</div>
    <div class="popup-content">
        <div class="video-content">
            <video id="recordVideoSet" poster="/image/recordPoster.jpg" controls disablepictureinpicture controlslist="nodownload"></video>
        </div>
        <div class="video-list">
            <div class="sub-title"><i class="material-icons">camera_roll</i> VideoList </div>
            <ul id="videoList">
                <li>video1</li>
                <li>video2</li>
                <li>video3</li>
            </ul>
        </div>
    </div>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn grey close" id="RecordVideoClose">Cancel</button>
    </div>
</div>