<div class="setting" id="Setting">
    <div class="popup-title">Device Setting</div>
    <div class="popup-content">
        <div class="left">
            <div class="camera-view"></div>
        </div>
        <div class="right">
            <div class="category-sub-title"><i class="material-icons">videocam</i> Camera</div>
            
            <div class="select">
                <label for="videoSource">Video source: </label><select id="videoSource"></select>
            </div>
            <div class="category-sub-title"><i class="material-icons">volume_up</i> Speaker</div>
            <div class="select">
                <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
            </div>
            <div class="category-sub-title"><i class="material-icons">mic</i> Microphone</div>
            <div class="select">
                <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
            </div>
        </div>
    </div>
    <div class="popup-btn">
        <button class="waves-effect waves-light btn blue" id="SetupBtn">OK</button>
        <button class="waves-effect waves-light btn grey close" id="SetupClose">Cancel</button>
    </div>
</div>

<!-- 
<div class="select">
    <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
</div>

<div class="select">
    <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
</div>

<div class="select">
    <label for="videoSource">Video source: </label><select id="videoSource"></select>
</div> -->